
.contacts__item {
    position: relative;
    min-width: 150px;
    
    border: 1px solid rgb(61, 61, 61);
    text-align: center;
    padding: 8px 32px;

}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.text {
    margin-bottom: 8px;
     display: flex;
    align-items: center;
    gap: 8px;
}

.button {
    position: absolute;
    top: 0px;
    right: -4px;
    background-color: transparent;
    border: none;
    color: rgb(124, 1, 1);
}