.text {
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.email {
  color: rgb(162, 167, 211);
  margin-bottom: 8px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 80px;
}
