.text {
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.email {
  color: rgb(162, 167, 211);
  margin-bottom: 8px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 80px;
}

.box {
  display: flex;
  gap: 16px;
}

.img {
  height: 50px;
  width: 50px;
  object-fit: cover
  }

.avatarBox {
  position: relative;
}

.avatarAdd {
  background-color: #8284f3da;
  position: absolute;
  bottom: 10px;
  left: 13px;
  
}

